* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    width: 100vw;
}
.homepage_content {
    width: 1290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    margin-left: 10%;
}
.navbar {
    width: 100vw;
    height: 72px;
    gap: 10px;
    background: white;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    z-index: 1;
    .navbar_left {
        width: 166.3px;
        height: 72px;
        gap: 4px;
        font-size: 28px;
        line-height: 33.6px;
        font-weight: bold;
        display: flex;
        align-items: center;
        img {
            width: 39.3px;
            height: 30px;
        }
    }
    ul{
        width: 702px;
        height: 100%;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
       
        display: flex;
        justify-content: space-between;
       
    }
    li {
        height: 72px;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 0 10px;
        cursor: pointer;
        &:hover {
            
            background-color: #e6e6e6;
            color: #FF782D;
            font-weight: bold;
        }
    }
    .navbar_right {
        width: 198px;
        height: 72px;
        gap: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        .logIn_register {          
            font-size: 18px;
            line-height: 27px;
            font-weight: 500;
            &:hover {
                color: #FF782D;
                font-weight: bold;
                border-bottom: solid 1px #FF782D;
            }
        }
        img {
            width: 48px;
            height: 48px;
            gap: 10px;
        }
        
    }
}

.banner {
    width: 100vw;
    height: 700px;
    position: relative;
    .banner_bg{
        width: 100%;
        height: 700px;
        position: relative;
        .bg_top {
            width: 480.77px;
            height: 219.48px;
            position: absolute;
            top: 0;
            right: 0;
        }
        .online {
            width: 45%;
            height: 419px;
            position: absolute;
            top: 15%;
            left: 47%;
        }
        .book {
            width: 20%;
            height: 354.13px;
            position: absolute;
            top: 15%;
            left: 10%
        }
    }
    .banner_left {
        width: 520px;
        height: 262px;
        gap: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 30%;
        left: 250px;
        button {
            width: 170px;
            height: 48px;
            border-radius: 24px;
            gap: 10px;
            background-color: #FF782D;
            font-size: 18px;
            color: white;
            border: none;
            line-height: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                opacity: 90%;
            }
        }
    }
    .banner_right {
        width: 36.2%; 
        position: absolute;
        top: 0;
        left: 60%;
    }
} 
.courses {
    width: 100%;
    height: 1105px;
    gap: 34px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    .banner_courses {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        button {
            width: 139px;
            height: 48px;
            border-radius: 24px;
            border: 2px solid #9D9D9D;
            padding: 10px 24px;
            &:hover {
                font-weight: bold;
                background-color: #FF782D;
                color: white;
                border-color: #cb5516;
            }
        }
    }
    .feature {
        width: 100%;
        height: 994px;
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    .feature_courses {
        width: 410px;
        height: 474px;
        border-radius: 20px;
        cursor: pointer;
        &:hover {
            box-shadow: 7px 7px 20px gray;
            border: 1px solid #555555;
        }
        .feature_content_1{
            display: flex;
            flex-direction: column;
        }
        .feature_content_2{
            width: 214px;
            height: 24px;
            display: flex;
            justify-content: space-between;
            div {
                gap: 5px;
                display: flex;
                align-items: center;
                
            }
        
    }
        }
        
    
}
.statistic {
    width: 100%;
    height: 181px;
    display: flex;
        justify-content: space-between;
        .statistic_box {
            width: 300px;
            height: 100%;
            border-radius: 20px;
            padding: 50px 0;
            gap: 16px;
            background-color: #F5F5F5;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .data {
            color: #FF782D;
            font-size: 32px;
            font-weight: 600;
            line-height: 38.4px;
        }
        .data_content {
            font-weight: 500;
            size: 18px;
            line-height: 27px;
            color: #000;
        }
}
.lms {
    width: 100%;
    height: 469px;
    gap: 125px;
    display: flex;
    justify-content: space-between;
    .lms_right {
        width: 520px;
        height: 384px;
        gap: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .lms_right_content {
            width: 520px;
            height: 216px;
            gap: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .lms_right_list {
                display: flex;
                align-items: center;
                font-weight: 400;
                size: 18px;
                line-height: 17px;
                gap: 8px;
                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        .heading {
            font-weight: 600;
            font-size: 32px;
            line-height: 38.4px;
        }
        button {
            width: 177px;
            height: 48px;
            border-radius: 24px;
            padding: 10px 24px;
            gap: 10px;
            background-color: #FF782D;
            font-weight: 500;
            color: white;
            size: 18px;
            line-height: 27px;
            &:hover {
                opacity: 90%;
            }
        }
    }
}

.footer {
    width: 100vw;
    height: 552px;
    gap: 90px;
    margin-top: 60px;
    padding-top: 90px;
    padding-bottom: 32px;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .footer_content {
        width: 1290px;
        height: 281px;
        gap: 30px;
        display: flex;
        justify-content: space-between;
        .footer_left {
            width: 410px;
            height: 131px;
            gap: 32px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .footer_middle_left {
            width: 190px;
            height: 191px;
            gap: 32px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li{
                cursor: pointer;
                &:hover {
                    color: #FF782D;
                    font-weight: bold;
                }
            }
        }
        .footer_middle_right {
            width: 190px;
            height: 281px;
            gap: 32px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li{
                cursor: pointer;
                &:hover {
                    color: #FF782D;
                    font-weight: bold;
                }
            }
        }
        .footer_right {
            width: 410px;
            height: 218px;
            gap: 32px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        ul {
            font-weight: 500;
            font-size: 18px;
            line-height: 45px;
            color: #555555;
            
        }
        .heading {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
    }
    .footer_bottom {
        width: 1290px;
        height: 59px;
        border-top: 1px solid #9D9D9D;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #555555;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
    
